shiny>=1.13.0
shiny.i18n>=0.3.0
bslib>=0.10.0
DT>=0.34.0
plotly>=4.12.0
lidR>=4.2.3
terra>=1.9.11
sf>=1.1.0
RCSF>=1.0.2
htmlwidgets>=1.6.4
ggplot2>=4.0.2
parallel>=4.5.3
rstudioapi>=0.18.0
knitr>=1.51
pagedown>=0.24
rmarkdown>=2.31
